

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

img {
  margin-top: 1px;
  position: relative;
  float: left;

  background-size: 100% 550px;
}

.slider-container {
  width: 100%;
  height: 550px;
  overflow: hidden;
}
.slider {
  width: 2000em;
}
.slider .slide {
  height: 550px;
  overflow: hidden;
  position: relative;
  padding: 0;
  float: left;
}
.slider .slide img {
  position: absolute;
  width: 100%;
}
.slider .slide .description {
  position: absolute;
  float: left;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  color: #FFF;
  padding: 1em;
  margin: 0;
  font-size: .8em;
  width: 150px;
  height: 200px;
}
