

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.image01 {
  margin-top: 1px;
  position: relative;
  float: left;

  background-size: 100% 450px;
}

.slider-container {
  width: 100%;
  height: 550px;
  overflow: hidden;
}
.slider {
  width: 2000em;
}
.slider .slide {
  height: 550px;
  overflow: hidden;
  position: relative;
  padding: 0;
  float: left;
}
.slider .slide img {
  position: absolute;
  width: 100%;

}
.slider .slide .description1 {
  background-position: 100px 50px;
  position: absolute;
  float: left;
  bottom: 250px;
  left: 120px;
  background: rgba(0,0,0,.09);
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  margin: 0;
  font-size: 1em;
  width: 200px;
  height: 100px;
  border-radius: 5px;

}
.slider .slide .description2 {
  position: absolute;
  float: left;
  bottom: 150px;
  left: 650px;
  background: rgba(0,0,0,.1);
  color: #0000ff;
  padding: 1em;
  margin: 0;
  font-size: .9em;
  width: 150px;
  height: 200px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;

}
.slider .slide .description3 {
  position: absolute;
  float: left;
  bottom: 120px;
  left: 150px;
  background: rgba(0,0,0,.1);
  color: #FFF;
  padding: 1em;
  margin: 0;
  font-size: .8em;
  width: 250px;
  height: 190px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;

}
.slider .slide .description4 {
  position: absolute;
  float: left;
  bottom: 120px;
  left: 120px;
  background: rgba(0,0,0,.1);
  color: #000000;
  padding: 1em;
  margin: 0;
  font-size: .8em;
  width: 350px;
  height: 290px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;

}
.slider .slide  a:link {text-decoration              : none;color: #000000}
.slider .slide  a:active {text-decoration            : none;color: #000000}
.slider .slide  a:visited {text-decoration           : none;color: #696969}
.slider .slide  a:hover {text-decoration             : none;color: #363636}


 
/*extruture page*/

body {
	background			: #ffffff;
	margin 				: 0px;
	border 				: 0px;
	padding 			: 0px;
}
.clear {
	clear 				: both;
	display 			: block;
}

.container {
	width 				: 960px;
	margin 				: 0 auto;
}
/*menu top icons "facebook - twitter - google+ - youtube - baloon - languages*/
#menu_top_icons {
	position	        : fixed;
	background-color 	: #363636;
	border 				: 0px solid #363636;
	padding 			: 0px;
	height				: 36px;
	min-width 			: 960px; 
	z-index 			: 5;
}
ul.menu_top_icons {
	
	padding				: 7px 0px 0px 248px;
	margin 				: 0px 0px;
	list-style 			: none;
	text-align 			: center;
	font-size 			: 13px;
	color 				: #ffffff;
	font-weight 		: bold;
	font-family			: tahoma;
	z-index 			: 5;
}
ul.menu_top_icons > li { 
  	float               : left; 
    left				: 424px;
    position            : relative; 
    margin-top          : 8px;
    width               : 30px; 
    text-decoration		: 2px;
    letter-spacing 		: 2px; 
    z-index 			: 4;
}
ul.menu_top_icons li a { padding-left : 8px;}
.menu_top_icons .twitter { 
	background-image 	: url(images/twitter.png); 
	background-repeat 	: no-repeat;
	background-size 	: 29px 25px;
	margin 				: 1px;
	top 				: -1px;
	height 				: 24px;
	z-index 			: 4;
}
.menu_top_icons .facebook { 
	background-image 	: url(images/facebook02.png); 
	background-repeat 	: no-repeat;
	background-size 	: 29px 25px;
	margin 				: 1px;
	top 				: -1px;
	height 				: 24px;
	z-index 			: 4;
}
.menu_top_icons .google { 
	background-image 	: url(images/google+.png); 
	background-repeat 	: no-repeat;
	background-size 	: 29px 25px;
	margin 				: 1px;
	top 				: -1px;
	height 				: 24px;
	z-index 			: 4;
}
.menu_top_icons .youtube { 
	background-image 	: url(images/youtube.png); 
	background-repeat 	: no-repeat;
	background-size 	: 29px 25px;
	margin 				: 1px;
	top 				: -1px;
	height 				: 24px;
}
.menu_top_icons .balao { 
	background-image 	: url(images/balao.png); 
	background-repeat 	: no-repeat;
	background-size 	: 29px 25px;
	border-radius 		: 6px;
	margin 				: 1px;
	top 				: -1px;
	height 				: 24px;
	z-index 			: 5;
}
.menu_top_icons .flag { 
	background-color 	: #000000;
	background-image	: url(images/brasil.png); /*menu languages*/
	background-repeat	: no-repeat;
	background-size 	: 29px 25px;
	border 				: 1px solid #000000;
	padding 			: 8px 0px 1px 35px;
	height	 			: 24px;
	border-radius 		: 6px;
	z-index 			: 5;
}
.flags {
	float 				: left;
	width 				: 27px; 
	height 				: 25px;
	z-index 			: 5;

}

/*menu top icons box language*/
ul li a {
	margin 				: 0px solid #363636;
	padding 			: 0px;
	color 				: #ffffff;
	text-decoration 	: none;
	z-index 			: 3;
}
ul li div {
	border 				: 0px solid #363636;
	border-radius 		: 6px;
	background-color 	: #000000;
	position 			: relative;
	float 				: right;
	display 			: none;
	width 				: 86px;
	padding 			: 0px 0px 0px 0px;
	z-index 			: 99;
	right 				: -55px;
	top 				: 3px;
}
ul li div ul {
	width 				: 104px;
	border 				: 0px solid #363636;
	background-color 	: #000000;
	padding 			: 0px;
	z-index 			: 1;
	border-radius 		: 5px;
}
ul li:hover div { display:block;}
ul li div ul li { 
	border-bottom 		: 1px solid #363636;
	display 			: block;
	position 			: relative;
	float 				: left;
	padding 			: 4px 4px;
	margin 				: -3; 
}
ul li div ul li:last-child {border:none;}

/*menu top page simbol sony and descriptions menu*/
#menu_top {
	position 			: fixed;
	top 				: 35px;
	background-color 	: #000000;
	border 				: 0px solid #0f0f0f;
	padding 			: 0px;
	height				: auto; 
	z-index 			: 4;
}

.sony {
	position 			: relative;
	float 				: right;
	left  				: -825px;
	background-image	: url(images/sony.png);
	background-repeat	: no-repeat;
	display				: inline-block;
	background-size		: 121px 45px;
	width               : 109px;
	height 				: 34px; 
	top 				: 0px;
	z-index 			: 5;

}

ul.menu_top {
	position: relative;
	width				: 811px;
	background-color	: #0f0f0f;
	padding				: 0px 0px 0px 149px;
	margin 				: 0px 0px;
	list-style 			: none;
	text-align 			: center;
	font-size 			: 14px;
	color 				: #ffffff;
	font-weight 		: bold;
	font-family			: tahoma;
	z-index 			: 4;
}
ul.menu_top > li { 
    float               : left;
    position            : relative;
    display				: inline-block;
    margin-top          : 16px;
    width               : 114px; 
    text-decoration		: 2px;
    letter-spacing 		: 1px; 
    z-index 			: 4;
}

/* system for pesquise in menu top*/
.pesquise {
	background-color 	: #000000;
	padding-top 		: 7px;
	position 			: right;
	float 				: right;
	z-index 			: 12;

}
.insert_text {
	background-color 	: #696969;
	border 				: 0px solid #000000;
	border-radius 		: 2px;
	margin 				: 14px 0px;
	position 			: relative;
	float 				: left;
	color 				: #ffffff;
	height 				: 20px;
	z-index 			: 12;
}
.button {
	margin 				: 14px -2px;
	border-radius 		: 0px;
	position 			: relative;
	right				: 35px;
	border 				: 0px solid #000000;
	background-image 	: url(images/lupa.png);
	background-size 	: 39px 22px;
	background-repeat 	: no-repeat;
	width 				: 37px;
	height 				: 22px;
	z-index 			: 12;
}

/* center page images in move*/
.content {
	background-color	: #363636;
	padding 			: 85px 0px 0px;
	width 				: 960px;
	height				: auto;
	
}
.content > div {
	display: inline;
	background-color 	: #eee;
	border 				: 0;
	padding 			: 0px;
	width 				: 960px;
	height				: auto;
	float				: left;
	z-index 			: 1;
}
#center {
	background-color 	: #ffffff;
	border 				: 0px solid #ff0000;
	padding 			: 0px;
	height				: auto;
	top 				: 100px;
	width 				: 960px;
	z-index 			: 1; 
	margin-top          : 0px; 
}
/*command for images transition center Javascript*/
bannerad {
	float 				: left;
	position 			: relative;
	margin-left 		: 0px;
	width 				: 960px;
	z-index 			: 1;
}

/*final page images Sony thumbnail*/
#bottom {
	background-color 	: #ffffff;
	background-size 	: 50px 200px;
	border 				: 1px solid #ff0000;
	padding 			: 0px;
	height				: 50px;
	width 				: 960px;
	margin 				: 0px;
	padding             : 0px;  
}
.image { 
	position 			: relative;
	margin 			: 4px 1px 2px 3px;
	z-index 			: 33;
	float 				: left;
	margin 				: -95px 34px;
	top: -480px;
}
/*links new pages images in end images move*/
#tv, #girl, #phone {
	position 			: relative;
	float 				: left;
	margin 				: -2px 1px;
	width 				:  200px;
	padding 			: 1px 15px;
	top 				: -571px;
	z-index 			: 50;
	display				: inline-block;
	font-size			: 60px;
	opacity:0.01;
	-moz-opacity: 0.01;
	filter: alpha(opacity=01);
}
#ps4 {
	position 			: relative;
	float 				: left;
	margin 				: -2px 1px;
	width 				:  200px;
	padding 			: 1px 27px;
	top 				: -571px;
	z-index 			: 50;
	display				: inline-block;
	font-size			: 60px;
	opacity:0.01;
	-moz-opacity: 0.01;
	filter: alpha(opacity=01);
}
#tv #girl #ps4 a:link {text-decoration              : none;color: #F8F8FF}
#tv #girl #ps4 a:active {text-decoration            : none;color: #F8F8FF}
#tv #girl #ps4 a:visited {text-decoration           : none;color: #F8F8FF}
#tv #girl #ps4 a:hover {text-decoration             : none;color: #F8F8FF}

/*pages direction - Eletronics Playstation Entertainment Support*/
#in_construction {
	border 				: 20px solid #000000;
	font-size 			: 55px;
	height 				: 600px;
	font-weight 		: bold;
	background-image 	: url(images/in_construction.png);
	background-repeat 	: no-repeat;
	background-size 	: auto 700px;
	
}
#in_construction ul {list-style                       : none;color: #000000}
#in_construction a:link {text-decoration              : none;color: #000000}
#in_construction a:active {text-decoration            : none;color: #000000}
#in_construction a:visited {text-decoration           : none;color: #FFA500}
#in_construction a:hover {text-decoration             : none;color: #FF8C00}

.in_construction {
	float 				: left;
	padding 			: 170px 530px;
	width 				: 100px;
	height 				: 100px;
	margin 				: auto;
	text-shadow 		: #000000 3px -3px 7px, #000000 -3px 3px 9px, #EE3B3B 5px 5px 8px, #EE3B3B -5px -5px 8px;
}

#div1 {
	margin: 200px 200px;
	border: 2px solid #0000ff; 
	background-color: #00ff00;
	background-size: 200px 200px;
	position: relative;
	float: left;
	width: 200px;
	height: 200px;
	padding: 20px;
}
