#div1 {
	margin: 200px 200px;
	border: 2px solid #0000ff; 
	background-color: #00ff00;
	background-size: 200px 200px;
	position: relative;
	float: left;
	width: 200px;
	height: 200px;
	padding: 20px;
}